<div>
<br />
<%= form_for @order do |f| %>

<%= f.text_area :content, :class => 'ckeditor' %>
<br />
<h3>To:</h3>
<br>
<p>Name:</p>
<%= f.text_field :to_fname, :placeholder => "First Name" %> <%= f.text_field :to_lname, :placeholder => "Last Name" %>
<p>Company:</p>
<%= f.text_field :to_company %>
<p>Address:</p>
<%= f.text_area :to_street %>
<p>Address 2:</p>
<%= f.text_area :to_street2 %>
<p>City:</p>
<%= f.text_field :to_city %>
<p>State:</p>
<%= f.select :to_state, options_for_select(us_states) %>
<p>Zip:</p>
<%= f.text_field :to_zip, :size=>"10" %>

<h3>From:</h3>

<br>
<p>Name:</p>
<%= f.text_field :from_fname, :placeholder => "First Name" %> <%= f.text_field :from_lname, :placeholder => "Last Name" %>
<p>Company:</p>
<%= f.text_field :from_company %>
<p>Address:</p>
<%= f.text_area :from_street %>
<p>Address 2:</p>
<%= f.text_area :from_street2 %>
<p>City:</p>
<%= f.text_field :from_city %>
<p>State:</p>
<%= f.select :from_state, options_for_select(us_states) %>
<p>Zip:</p>
<%= f.text_field :from_zip, :size=>"10" %>

<div align="center">
<%= f.submit 'Send My Letter!', :class => 'btn btn-primary' %>
</div>

<% end %>
</div>